# Python tutorial  

**by Giancarlo Marchesi**

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Using-For-Loops" data-toc-modified-id="Using-For-Loops-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Using For Loops</a></span><ul class="toc-item"><li><span><a href="#Identifying-even-numbers-in-a-list" data-toc-modified-id="Identifying-even-numbers-in-a-list-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Identifying even numbers in a list</a></span></li><li><span><a href="#Printing-elements-of-a-list-in-a-string-statement" data-toc-modified-id="Printing-elements-of-a-list-in-a-string-statement-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Printing elements of a list in a string statement</a></span></li><li><span><a href="#Mathematical-operations-using-the-range-and-length-of-a-list" data-toc-modified-id="Mathematical-operations-using-the-range-and-length-of-a-list-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Mathematical operations using the range and length of a list</a></span></li><li><span><a href="#Create-and-print-a-list-where-the-values-are-square-of-numbers-between-1-and-30-(both-included)" data-toc-modified-id="Create-and-print-a-list-where-the-values-are-square-of-numbers-between-1-and-30-(both-included)-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Create and print a list where the values are square of numbers between 1 and 30 (both included)</a></span><ul class="toc-item"><li><span><a href="#Cleaner-version-with-list-comprehension" data-toc-modified-id="Cleaner-version-with-list-comprehension-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Cleaner version with list comprehension</a></span></li></ul></li><li><span><a href="#Use-a-for-loop-to-take-a-list-and-print-each-element-of-the-list-in-its-own-line" data-toc-modified-id="Use-a-for-loop-to-take-a-list-and-print-each-element-of-the-list-in-its-own-line-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Use a for loop to take a list and print each element of the list in its own line</a></span><ul class="toc-item"><li><span><a href="#Make-a-one-line-sentence" data-toc-modified-id="Make-a-one-line-sentence-1.5.1"><span class="toc-item-num">1.5.1&nbsp;&nbsp;</span>Make a one line sentence</a></span></li></ul></li><li><span><a href="#Write-a-for-loop-that-iterates-over-the-names-list-to-create-a-usernames-list." data-toc-modified-id="Write-a-for-loop-that-iterates-over-the-names-list-to-create-a-usernames-list.-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Write a for loop that iterates over the names list to create a usernames list.</a></span></li><li><span><a href="#Write-a-loop-with-a-break-statement" data-toc-modified-id="Write-a-loop-with-a-break-statement-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Write a loop with a break statement</a></span></li><li><span><a href="#Determine-which-numbers-in-a-list-are-prime-numbers" data-toc-modified-id="Determine-which-numbers-in-a-list-are-prime-numbers-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Determine which numbers in a list are prime numbers</a></span></li><li><span><a href="#Print-the-name-and-grade-of-the-second-lowest-score-in-an-imputed-list-of-students" data-toc-modified-id="Print-the-name-and-grade-of-the-second-lowest-score-in-an-imputed-list-of-students-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Print the name and grade of the second lowest score in an imputed list of students</a></span></li></ul></li><li><span><a href="#Using-While-Loops" data-toc-modified-id="Using-While-Loops-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Using While Loops</a></span><ul class="toc-item"><li><span><a href="#Use-a-while-loop-for-calculating-a-factorial" data-toc-modified-id="Use-a-while-loop-for-calculating-a-factorial-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Use a while loop for calculating a factorial</a></span></li><li><span><a href="#Write-a-loop-that-counts-from-some-number-start_num-by-another-number-count_by-until-you-hit-a-final-number-end_num,-and-calculate-break_num¶" data-toc-modified-id="Write-a-loop-that-counts-from-some-number-start_num-by-another-number-count_by-until-you-hit-a-final-number-end_num,-and-calculate-break_num¶-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Write a loop that counts from some number start_num by another number count_by until you hit a final number end_num, and calculate break_num¶</a></span></li><li><span><a href="#Write-a-while-loop-that-finds-the-largest-square-number-smaller-than-an-integer-limit" data-toc-modified-id="Write-a-while-loop-that-finds-the-largest-square-number-smaller-than-an-integer-limit-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Write a while loop that finds the largest square number smaller than an integer limit</a></span></li><li><span><a href="#Add-up-the-odd-numbers-in-the-list,-but-only-up-to-the-first-5-odd-numbers-together.-If-there-are-more-than-5-odd-numbers,-you-should-stop-at-the-fifth" data-toc-modified-id="Add-up-the-odd-numbers-in-the-list,-but-only-up-to-the-first-5-odd-numbers-together.-If-there-are-more-than-5-odd-numbers,-you-should-stop-at-the-fifth-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Add up the odd numbers in the list, but only up to the first 5 odd numbers together. If there are more than 5 odd numbers, you should stop at the fifth</a></span></li><li><span><a href="#Add-cargo-to-manifest-and-keep-weight-below-200-pounds" data-toc-modified-id="Add-cargo-to-manifest-and-keep-weight-below-200-pounds-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Add cargo to manifest and keep weight below 200 pounds</a></span></li></ul></li><li><span><a href="#Using-dictionaries" data-toc-modified-id="Using-dictionaries-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Using dictionaries</a></span><ul class="toc-item"><li><span><a href="#Modify-a-simple-dictionary" data-toc-modified-id="Modify-a-simple-dictionary-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Modify a simple dictionary</a></span></li><li><span><a href="#Count-the-number-of-fruit-in-your-basket" data-toc-modified-id="Count-the-number-of-fruit-in-your-basket-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Count the number of fruit in your basket</a></span></li><li><span><a href="#Create-a-dictionary-that-includes-the-count-of-Oscar-nominations-for-each-director-in-the-nominations-list." data-toc-modified-id="Create-a-dictionary-that-includes-the-count-of-Oscar-nominations-for-each-director-in-the-nominations-list.-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Create a dictionary that includes the count of Oscar nominations for each director in the nominations list.</a></span></li><li><span><a href="#Provide-a-dictionary-with-the-count-of-Oscar-wins-for-each-director-in-the-winners-list." data-toc-modified-id="Provide-a-dictionary-with-the-count-of-Oscar-wins-for-each-director-in-the-winners-list.-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Provide a dictionary with the count of Oscar wins for each director in the winners list.</a></span></li><li><span><a href="#Provide-a-list-with-the-name(s)-of-the-director(s)-with-the-most-Oscar-wins." data-toc-modified-id="Provide-a-list-with-the-name(s)-of-the-director(s)-with-the-most-Oscar-wins.-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Provide a list with the name(s) of the director(s) with the most Oscar wins.</a></span></li><li><span><a href="#Count-the-number-of-words-on-a-given-list-and-present-them-in-a-dictionary" data-toc-modified-id="Count-the-number-of-words-on-a-given-list-and-present-them-in-a-dictionary-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Count the number of words on a given list and present them in a dictionary</a></span></li><li><span><a href="#Add-the-total-weight-of-a-series-of-labeled-items" data-toc-modified-id="Add-the-total-weight-of-a-series-of-labeled-items-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Add the total weight of a series of labeled items</a></span></li><li><span><a href="#Print-the-name-and-grade-of-the-second-lowest-score-in-an-imputed-list-of-students" data-toc-modified-id="Print-the-name-and-grade-of-the-second-lowest-score-in-an-imputed-list-of-students-3.8"><span class="toc-item-num">3.8&nbsp;&nbsp;</span>Print the name and grade of the second lowest score in an imputed list of students</a></span></li></ul></li><li><span><a href="#Manipulating-strings-with-functions" data-toc-modified-id="Manipulating-strings-with-functions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Manipulating strings with functions</a></span><ul class="toc-item"><li><span><a href="#Write-a-program-to-reverse-a-string" data-toc-modified-id="Write-a-program-to-reverse-a-string-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Write a program to reverse a string</a></span></li><li><span><a href="#Write-a-function-that-accepts-a-string-and-calculate-the-number-of-upper-case-letters-and-lower-case-letters" data-toc-modified-id="Write-a-function-that-accepts-a-string-and-calculate-the-number-of-upper-case-letters-and-lower-case-letters-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Write a function that accepts a string and calculate the number of upper case letters and lower case letters</a></span></li><li><span><a href="#Write-a-function-that-checks-whether-a-passed-string-is-palindrome-or-not" data-toc-modified-id="Write-a-function-that-checks-whether-a-passed-string-is-palindrome-or-not-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Write a function that checks whether a passed string is palindrome or not</a></span></li><li><span><a href="#Make-a-pyramid-of-a-two-letter-word-with-n-rows" data-toc-modified-id="Make-a-pyramid-of-a-two-letter-word-with-n-rows-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Make a pyramid of a two letter word with n rows</a></span></li><li><span><a href="#Without-using-any-string-methods,-try-to-print-the-following:-123" data-toc-modified-id="Without-using-any-string-methods,-try-to-print-the-following:-123-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Without using any string methods, try to print the following: 123</a></span></li><li><span><a href="#Read-a-given-string,-change-the-character-at-a-given-index-and-then-print-the-modified-string." data-toc-modified-id="Read-a-given-string,-change-the-character-at-a-given-index-and-then-print-the-modified-string.-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Read a given string, change the character at a given index and then print the modified string.</a></span></li><li><span><a href="#Print-the-number-of-times-that-the-substring-occurs-in-the-given-string." data-toc-modified-id="Print-the-number-of-times-that-the-substring-occurs-in-the-given-string.-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Print the number of times that the substring occurs in the given string.</a></span></li></ul></li><li><span><a href="#Functions-with-integers" data-toc-modified-id="Functions-with-integers-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Functions with integers</a></span><ul class="toc-item"><li><span><a href="#Write-a-function-that-multiplies-the-elements-in-the-list-by-2" data-toc-modified-id="Write-a-function-that-multiplies-the-elements-in-the-list-by-2-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Write a function that multiplies the elements in the list by 2</a></span><ul class="toc-item"><li><span><a href="#Simplified-version-with-list-comprehension" data-toc-modified-id="Simplified-version-with-list-comprehension-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Simplified version with list comprehension</a></span></li><li><span><a href="#Using-input" data-toc-modified-id="Using-input-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Using input</a></span></li></ul></li><li><span><a href="#Write-a-function-to-sum-all-the-numbers-in-a-list" data-toc-modified-id="Write-a-function-to-sum-all-the-numbers-in-a-list-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Write a function to sum all the numbers in a list</a></span></li><li><span><a href="#Write-a-function-to-multiply-all-the-numbers-in-a-list" data-toc-modified-id="Write-a-function-to-multiply-all-the-numbers-in-a-list-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Write a function to multiply all the numbers in a list</a></span></li><li><span><a href="#Write-a-function-to-check-whether-a-number-falls-in-a-given-range" data-toc-modified-id="Write-a-function-to-check-whether-a-number-falls-in-a-given-range-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Write a function to check whether a number falls in a given range</a></span></li><li><span><a href="#Write-a-function-that-takes-a-number-as-a-parameter-and-check-the-number-is-prime-or-not." data-toc-modified-id="Write-a-function-that-takes-a-number-as-a-parameter-and-check-the-number-is-prime-or-not.-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Write a function that takes a number as a parameter and check the number is prime or not.</a></span><ul class="toc-item"><li><span><a href="#Using-input" data-toc-modified-id="Using-input-5.5.1"><span class="toc-item-num">5.5.1&nbsp;&nbsp;</span>Using input</a></span></li></ul></li><li><span><a href="#Write-a-function-to-check-whether-a-number-is-perfect-or-not" data-toc-modified-id="Write-a-function-to-check-whether-a-number-is-perfect-or-not-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Write a function to check whether a number is perfect or not</a></span></li><li><span><a href="#Write-a-function-that-prints-out-the-first-n-rows-of-Pascal's-triangle." data-toc-modified-id="Write-a-function-that-prints-out-the-first-n-rows-of-Pascal's-triangle.-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>Write a function that prints out the first n rows of Pascal's triangle.</a></span></li><li><span><a href="#Write-a-program-to-access-a-function-inside-a-function" data-toc-modified-id="Write-a-program-to-access-a-function-inside-a-function-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>Write a program to access a function inside a function</a></span></li><li><span><a href="#Try,-exceptions-and-errors" data-toc-modified-id="Try,-exceptions-and-errors-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>Try, exceptions and errors</a></span></li></ul></li><li><span><a href="#Lambda-functions:-using-filter-and-map" data-toc-modified-id="Lambda-functions:-using-filter-and-map-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Lambda functions: using filter and map</a></span><ul class="toc-item"><li><span><a href="#Use-lambda-function-to-return-cities-with-less-than-10-letters-in-their-name" data-toc-modified-id="Use-lambda-function-to-return-cities-with-less-than-10-letters-in-their-name-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Use lambda function to return cities with less than 10 letters in their name</a></span></li><li><span><a href="#Use-a-lambda-function-to-find-even-numbers-in-a-list" data-toc-modified-id="Use-a-lambda-function-to-find-even-numbers-in-a-list-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Use a lambda function to find even numbers in a list</a></span></li><li><span><a href="#Use-lambda-function-to-calculate-the-cubed-power-of-the-numbers-on-a-list" data-toc-modified-id="Use-lambda-function-to-calculate-the-cubed-power-of-the-numbers-on-a-list-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Use lambda function to calculate the cubed power of the numbers on a list</a></span></li><li><span><a href="#Find-the-mean-of-each-list-in-numbers-to-create-the-list-averages" data-toc-modified-id="Find-the-mean-of-each-list-in-numbers-to-create-the-list-averages-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Find the mean of each list in numbers to create the list averages</a></span><ul class="toc-item"><li><span><a href="#Trying-the-same-with-a-lambda-function" data-toc-modified-id="Trying-the-same-with-a-lambda-function-6.4.1"><span class="toc-item-num">6.4.1&nbsp;&nbsp;</span>Trying the same with a lambda function</a></span></li></ul></li></ul></li><li><span><a href="#More-list-and-list-comprehension-exercises" data-toc-modified-id="More-list-and-list-comprehension-exercises-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>More list and list comprehension exercises</a></span><ul class="toc-item"><li><span><a href="#Write-a-program-that-takes-a-list-and-returns-a-new-list-with-unique-elements-of-the-first-list" data-toc-modified-id="Write-a-program-that-takes-a-list-and-returns-a-new-list-with-unique-elements-of-the-first-list-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Write a program that takes a list and returns a new list with unique elements of the first list</a></span></li><li><span><a href="#Write-a-program-that-accepts-a-hyphen-separated-sequence-of-words-as-input-and-prints-the-words-in-a-hyphen-separated-sequence-after-sorting-them-alphabetically" data-toc-modified-id="Write-a-program-that-accepts-a-hyphen-separated-sequence-of-words-as-input-and-prints-the-words-in-a-hyphen-separated-sequence-after-sorting-them-alphabetically-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Write a program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically</a></span></li></ul></li><li><span><a href="#Classes" data-toc-modified-id="Classes-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Classes</a></span><ul class="toc-item"><li><span><a href="#Create-a-class-called-car-with-three-variables:-brand,-price-&amp;-owner" data-toc-modified-id="Create-a-class-called-car-with-three-variables:-brand,-price-&amp;-owner-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Create a class called car with three variables: brand, price &amp; owner</a></span></li><li><span><a href="#Fill-the-class-with-data" data-toc-modified-id="Fill-the-class-with-data-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Fill the class with data</a></span></li><li><span><a href="#Call-print_ad-method" data-toc-modified-id="Call-print_ad-method-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Call print_ad method</a></span></li><li><span><a href="#Change-C3-owner" data-toc-modified-id="Change-C3-owner-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>Change C3 owner</a></span></li><li><span><a href="#Create-a-class-called-Basket,-which-represents-a-customer's-shopping-basket-for-online-transactions." data-toc-modified-id="Create-a-class-called-Basket,-which-represents-a-customer's-shopping-basket-for-online-transactions.-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>Create a class called Basket, which represents a customer's shopping basket for online transactions.</a></span></li><li><span><a href="#Create-the-items,-amounts-and-costs-attributes" data-toc-modified-id="Create-the-items,-amounts-and-costs-attributes-8.6"><span class="toc-item-num">8.6&nbsp;&nbsp;</span>Create the items, amounts and costs attributes</a></span></li><li><span><a href="#Impute-a-basket" data-toc-modified-id="Impute-a-basket-8.7"><span class="toc-item-num">8.7&nbsp;&nbsp;</span>Impute a basket</a></span></li></ul></li></ul></div>

## Using For Loops

### Identifying even numbers in a list

In [3]:
numbers=[1,2,3,4,5,6,7,8,9,10]
even_list=[]
for i in numbers: 
    if i%2==0:
        even_list.append(i)
print(even_list)

[2, 4, 6, 8, 10]

In [4]:
## To print the numbers outside the list 
numbers=[1,2,3,4,5,6,7,8,9,10]
even_list=[]
for i in numbers: 
    if i%2==0:
        even_list.append(i)
for i in even_list:
    print(i)

2
4
6
8
10

In [5]:
## Adding the numbers in the even_list 
numbers=[1,2,3,4,5,6,7,8,9,10]
even_list=[]
for i in numbers: 
    if i%2==0:
        even_list.append(i)
print(sum(even_list))

30

### Printing elements of a list in a string statement

In [7]:
# Make the list
cat_colors = ['black', 'grey', 'calico', 'brown']

# loop through colors
for color in cat_colors:
    print(f"I have a {color} cat")

I have a black cat
I have a grey cat
I have a calico cat
I have a brown cat

In [11]:
## Another way of accesing the list is using the index in the list    
for i in range(len(cat_colors)):
    print(cat_colors[i])

black
grey
calico
brown

### Mathematical operations using the range and length of a list

In [12]:
# use the indices in mathematical operations in the loop
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(len(a)):
    print (f' {a[i]} to the power of {i} is {a[i]**i}.', '\n')

 1 to the power of 0 is 1.

 2 to the power of 1 is 2.

 3 to the power of 2 is 9.

 4 to the power of 3 is 64.

 5 to the power of 4 is 625.

 6 to the power of 5 is 7776.

 7 to the power of 6 is 117649.

 8 to the power of 7 is 2097152.

 9 to the power of 8 is 43046721.

 10 to the power of 9 is 1000000000.

In [15]:
range(a)

TypeError: 'list' object cannot be interpreted as an integer

*Range must always be applied over an integer. That's why we use range(len(a))*

In [16]:
len(a)

10

In [17]:
range(len(a))

range(0, 10)

Now, this would make more sense if the numbers were elevated to themselves, not the previous number.

In [19]:
# use the indices in mathematical operations in the loop
a=[1,2,3,4,5,6,7,8,9,10]

for i in range(len(a)):
    print (f' {a[i]} to the power of {i+1} is {a[i]**(i+1)}.', '\n')

 1 to the power of 1 is 1.

 2 to the power of 2 is 4.

 3 to the power of 3 is 27.

 4 to the power of 4 is 256.

 5 to the power of 5 is 3125.

 6 to the power of 6 is 46656.

 7 to the power of 7 is 823543.

 8 to the power of 8 is 16777216.

 9 to the power of 9 is 387420489.

 10 to the power of 10 is 10000000000.

There you go. Remember, ranges always start at zero.

### Create and print a list where the values are square of numbers between 1 and 30 (both included)

In [20]:
list_sq=[]
for i in range (30): 
    list_sq.append((i+1)**2)
print(list_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

#### Cleaner version with list comprehension

newlist = [expression for item in iterable if condition == True]

In [23]:
list_sq=[k**2 for k in range(1,31)]
print(list_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

### Use a for loop to take a list and print each element of the list in its own line

In [27]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for i in sentence: 
    print(i)

the
quick
brown
fox
jumped
over
the
lazy
dog

#### Make a one line sentence

In [38]:
fin_sentence=""
for i in sentence: 
    fin_sentence = fin_sentence + i + " "

In [39]:
fin_sentence

'the quick brown fox jumped over the lazy dog '

### Write a for loop that iterates over the names list to create a usernames list.

In [40]:
names = ["Edward Van Halen", "Alex Van Halen", "David Lee Roth", "Michael Anthony"]

for i in range(len(names)): 
    names[i]=names[i].lower()
    names[i]=names[i].replace(' ', '_')

print(names)

['edward_van_halen', 'alex_van_halen', 'david_lee_roth', 'michael_anthony']

### Write a loop with a break statement

In [41]:
# Create the news ticker by adding headlines from the headlines list, inserting a space in between each headline. 
#If necessary, truncate the last headline in the middle so that news_ticker is exactly 140 characters long.

headlines = ["Local Man Eaten by Shark",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Teriffic"]
ticker=""

    
for headline in headlines:
    ticker += headline + ' '
    if len(ticker)>= 140:
        ticker = ticker [0:140]
        break
    
print(ticker)

Local Man Eaten by Shark Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brav

*The brave statement stops the counting*

### Determine which numbers in a list are prime numbers

In [42]:
check_prime = [13, 26, 39, 51, 53, 57, 79, 85, 91]
prime=[]
not_prime=[]

for number in check_prime: 
    for i in range (2, number):
        if number % i ==0:
            not_prime.append(number)
            break
        if i == number-1:
            prime.append(number)

for n in prime: 
    print (f'{n} is a prime number') 

for k in not_prime: 
    print (f'{k} is not a prime number')

13 is a prime number
53 is a prime number
79 is a prime number
26 is not a prime number
39 is not a prime number
51 is not a prime number
57 is not a prime number
85 is not a prime number
91 is not a prime number

### Print the name and grade of the second lowest score in an imputed list of students

In [348]:
### Acquiring the name of students and scores
new_list=[]
for _ in range(int(input('The number of students in the class are: '))):
        name = input('The name of the student:')
        score = float(input("The student's score: "))
        new_list.append([name,score])

The number of students in the class are: 5
The name of the student:Alex
The student's score: 89
The name of the student:Eddie
The student's score: 98
The name of the student:Dave
The student's score: 99
The name of the student:Mike
The student's score: 87
The name of the student:Sammy
The student's score: 79

In [349]:
new_list

[['Alex', 89.0],
 ['Eddie', 98.0],
 ['Dave', 99.0],
 ['Mike', 87.0],
 ['Sammy', 79.0]]

The lowest grade belongs to Sammy. The second lowest grade belongs to Mike. So print Mike's name and grade as the answer.

In [353]:
## Get grades
grades=[]
for i in new_list:
    grades.append(i[1])

## get second lowest grade    
other_grades=[]
for h in grades:
    if h != min(grades):
        other_grades.append(h)

second_low_grade=min(other_grades)

# Step two, pull the name(s) of the second lowest grade 
names=[]
for i in new_list:
    if second_low_grade==i[1]:
        names.append(i[0])
for i in names:
    print(f"{i} got the second lowest grade in the test with {second_low_grade}")

Mike got the second lowest grade in the test with 87.0

## Using While Loops

### Use a while loop for calculating a factorial

In [43]:
number=6 
factorial=1 
current=1

while current <= number: 
    factorial *= current
    current +=1

print(factorial)

720

### Write a loop that counts from some number start_num by another number count_by until you hit a final number end_num, and calculate break_num¶

In [50]:
print('Please enter a start value in integer format')
start_num=int(input())
## Note: input gives you a string format
count_by= 3
end_num= 800
break_num = start_num

if start_num > end_num: 
    print ('Oops! The start value must be below 800. Please try again.')

else:
    while break_num + count_by <= end_num:
          break_num= break_num + count_by
          print(break_num)

Please enter a start value in integer format
760
763
766
769
772
775
778
781
784
787
790
793
796
799

### Write a while loop that finds the largest square number smaller than an integer limit

In [54]:
print('Please enter an integer limit number')

limit_num=int(input())
square=1

while (square +1)**2 < limit_num: 
       square += 1
    
nearest_square=square**2

print (f'The square number below the limit is {nearest_square}')

Please enter an integer limit number
446
The square number below the limit is 441

### Add up the odd numbers in the list, but only up to the first 5 odd numbers together. If there are more than 5 odd numbers, you should stop at the fifth

In [73]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]
count_odd = 0
list_sum = 0

for i in num_list: 
    if i%2 != 0:
        count_odd +=1
        list_sum  +=i
        if count_odd ==5: 
             break
    
print ("The numbers of odd numbers added are: {}".format(count_odd))
print ("The sum of the odd numbers added is: {}".format(list_sum))

The numbers of odd numbers added are: 5
The sum of the odd numbers added is: 993

In [74]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]
count_odd = 0
list_sum = 0
i = 0
len_num_list = len(num_list)

while (count_odd < 5) and (i < len_num_list): 
    if num_list[i] % 2 != 0:
        list_sum += num_list[i]
        count_odd += 1
    i += 1

print ("The numbers of odd numbers added are: {}".format(count_odd))
print ("The sum of the odd numbers added is: {}".format(list_sum))

The numbers of odd numbers added are: 5
The sum of the odd numbers added is: 993

### Add cargo to manifest and keep weight below 200 pounds

In [75]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

print ('Method 1')

weight=0
items=[]

## You can separate the elements of a tuple by giving them names (despite being in parenthesis)
for cargo_name, cargo_weight in manifest: 
    print ('current_weight: {}'.format(weight))
    if weight  >= 200:
        print (' breaking loop now')
        break
    else: 
        print ('adding {} {}'.format(cargo_weight, cargo_name))
        items.append(cargo_name)
        weight += cargo_weight

print ('The final weight is {}'.format(weight))
print ('The final items are {}'.format(items))

Method 1
current_weight: 0
adding 15 bananas
current_weight: 15
adding 24 mattresses
current_weight: 39
adding 42 dog kennels
current_weight: 81
adding 120 machine
current_weight: 201
 breaking loop now
The final weight is 201
The final items are ['bananas', 'mattresses', 'dog kennels', 'machine']

In [77]:
# Method 2: skips an iteration if adding an item that would exceed the limit and breaks the loop if weight 
#is exactly the value of the limit

print ('Method 2')

weight=0
items=[]

for cargo_name, cargo_weight in manifest: 
    print ('current_weight: {}'.format(weight))
    if weight  >= 200:
        print (' breaking loop now')
        break
    elif weight + cargo_weight >= 200:
        pass
    else: 
        print ('adding {} {}'.format(cargo_weight, cargo_name))
        items.append(cargo_name)
        weight += cargo_weight

print ('The final weight is {}'.format(weight))
print ('The final items are {}'.format(items))

Method 2
current_weight: 0
adding 15 bananas
current_weight: 15
adding 24 mattresses
current_weight: 39
adding 42 dog kennels
current_weight: 81
current_weight: 81
adding 5 cheeses
The final weight is 86
The final items are ['bananas', 'mattresses', 'dog kennels', 'cheeses']

## Using dictionaries

### Modify a simple dictionary

In [125]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

In [126]:
cast['Jerry Stiller']='Frank Costanza'

In [127]:
cast['Wayne Knight']='Newman'

In [128]:
for key, value in cast.items():
    print(f'Actor: {key}, Role: {value}')

Actor: Jerry Seinfeld, Role: Jerry Seinfeld
Actor: Julia Louis-Dreyfus, Role: Elaine Benes
Actor: Jason Alexander, Role: George Costanza
Actor: Michael Richards, Role: Cosmo Kramer
Actor: Jerry Stiller, Role: Frank Costanza
Actor: Wayne Knight, Role: Newman

### Count the number of fruit in your basket

In [130]:
## important to note that bracketing basket was not necessary
basket= {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

fruit_items=0
for key, value in basket.items():
    if key in fruits: 
        fruit_items= fruit_items + value
print(f'The number of fruit items in the basket is {fruit_items}')

The number of fruit items in the basket is 23

### Create a dictionary that includes the count of Oscar nominations for each director in the nominations list.

In [79]:
nominated = {1931: ['Norman Taurog', 'Wesley Ruggles', 'Clarence Brown', 'Lewis Milestone', 'Josef Von Sternberg'], 1932: ['Frank Borzage', 'King Vidor', 'Josef Von Sternberg'], 1933: ['Frank Lloyd', 'Frank Capra', 'George Cukor'], 1934: ['Frank Capra', 'Victor Schertzinger', 'W. S. Van Dyke'], 1935: ['John Ford', 'Michael Curtiz', 'Henry Hathaway', 'Frank Lloyd'], 1936: ['Frank Capra', 'William Wyler', 'Robert Z. Leonard', 'Gregory La Cava', 'W. S. Van Dyke'], 1937: ['Leo McCarey', 'Sidney Franklin', 'William Dieterle', 'Gregory La Cava', 'William Wellman'], 1938: ['Frank Capra', 'Michael Curtiz', 'Norman Taurog', 'King Vidor', 'Michael Curtiz'], 1939: ['Sam Wood', 'Frank Capra', 'John Ford', 'William Wyler', 'Victor Fleming'], 1940: ['John Ford', 'Sam Wood', 'William Wyler', 'George Cukor', 'Alfred Hitchcock'], 1941: ['John Ford', 'Orson Welles', 'Alexander Hall', 'William Wyler', 'Howard Hawks'], 1942: ['Sam Wood', 'Mervyn LeRoy', 'John Farrow', 'Michael Curtiz', 'William Wyler'], 1943: ['Michael Curtiz', 'Ernst Lubitsch', 'Clarence Brown', 'George Stevens', 'Henry King'], 1944: ['Leo McCarey', 'Billy Wilder', 'Otto Preminger', 'Alfred Hitchcock', 'Henry King'], 1945: ['Billy Wilder', 'Leo McCarey', 'Clarence Brown', 'Jean Renoir', 'Alfred Hitchcock'], 1946: ['David Lean', 'Frank Capra', 'Robert Siodmak', 'Clarence Brown', 'William Wyler'], 1947: ['Elia Kazan', 'Henry Koster', 'Edward Dmytryk', 'George Cukor', 'David Lean'], 1948: ['John Huston', 'Laurence Olivier', 'Jean Negulesco', 'Fred Zinnemann', 'Anatole Litvak'], 1949: ['Joseph L. Mankiewicz', 'Robert Rossen', 'William A. Wellman', 'Carol Reed', 'William Wyler'], 1950: ['Joseph L. Mankiewicz', 'John Huston', 'George Cukor', 'Billy Wilder', 'Carol Reed'], 1951: ['George Stevens', 'John Huston', 'Vincente Minnelli', 'William Wyler', 'Elia Kazan'], 1952: ['John Ford', 'Joseph L. Mankiewicz', 'Cecil B. DeMille', 'Fred Zinnemann', 'John Huston'], 1953: ['Fred Zinnemann', 'Charles Walters', 'William Wyler', 'George Stevens', 'Billy Wilder'], 1954: ['Elia Kazan', 'George Seaton', 'William Wellman', 'Alfred Hitchcock', 'Billy Wilder'], 1955: ['Delbert Mann', 'John Sturges', 'Elia Kazan', 'Joshua Logan', 'David Lean'], 1956: ['George Stevens', 'Michael Anderson', 'William Wyler', 'Walter Lang', 'King Vidor'], 1957: ['David Lean', 'Mark Robson', 'Joshua Logan', 'Sidney Lumet', 'Billy Wilder'], 1958: ['Richard Brooks', 'Stanley Kramer', 'Robert Wise', 'Mark Robson', 'Vincente Minnelli'], 1959: ['George Stevens', 'Fred Zinnemann', 'Jack Clayton', 'Billy Wilder', 'William Wyler'], 1960: ['Billy Wilder', 'Jules Dassin', 'Alfred Hitchcock', 'Jack Cardiff', 'Fred Zinnemann'], 1961: ['J. Lee Thompson', 'Robert Rossen', 'Stanley Kramer', 'Federico Fellini', 'Robert Wise', 'Jerome Robbins'], 1962: ['David Lean', 'Frank Perry', 'Pietro Germi', 'Arthur Penn', 'Robert Mulligan'], 1963: ['Elia Kazan', 'Otto Preminger', 'Federico Fellini', 'Martin Ritt', 'Tony Richardson'], 1964: ['George Cukor', 'Peter Glenville', 'Stanley Kubrick', 'Robert Stevenson', 'Michael Cacoyannis'], 1965: ['William Wyler', 'John Schlesinger', 'David Lean', 'Hiroshi Teshigahara', 'Robert Wise'], 1966: ['Fred Zinnemann', 'Michelangelo Antonioni', 'Claude Lelouch', 'Richard Brooks', 'Mike Nichols'], 1967: ['Arthur Penn', 'Stanley Kramer', 'Richard Brooks', 'Norman Jewison', 'Mike Nichols'], 1968: ['Carol Reed', 'Gillo Pontecorvo', 'Anthony Harvey', 'Franco Zeffirelli', 'Stanley Kubrick'], 1969: ['John Schlesinger', 'Arthur Penn', 'George Roy Hill', 'Sydney Pollack', 'Costa-Gavras'], 1970: ['Franklin J. Schaffner', 'Federico Fellini', 'Arthur Hiller', 'Robert Altman', 'Ken Russell'], 1971: ['Stanley Kubrick', 'Norman Jewison', 'Peter Bogdanovich', 'John Schlesinger', 'William Friedkin'], 1972: ['Bob Fosse', 'John Boorman', 'Jan Troell', 'Francis Ford Coppola', 'Joseph L. Mankiewicz'], 1973: ['George Roy Hill', 'George Lucas', 'Ingmar Bergman', 'William Friedkin', 'Bernardo Bertolucci'], 1974: ['Francis Ford Coppola', 'Roman Polanski', 'Francois Truffaut', 'Bob Fosse', 'John Cassavetes'], 1975: ['Federico Fellini', 'Stanley Kubrick', 'Sidney Lumet', 'Robert Altman', 'Milos Forman'], 1976: ['Alan J. Pakula', 'Ingmar Bergman', 'Sidney Lumet', 'Lina Wertmuller', 'John G. Avildsen'], 1977: ['Steven Spielberg', 'Fred Zinnemann', 'George Lucas', 'Herbert Ross', 'Woody Allen'], 1978: ['Hal Ashby', 'Warren Beatty', 'Buck Henry', 'Woody Allen', 'Alan Parker', 'Michael Cimino'], 1979: ['Bob Fosse', 'Francis Coppola', 'Peter Yates', 'Edouard Molinaro', 'Robert Benton'], 1980: ['David Lynch', 'Martin Scorsese', 'Richard Rush', 'Roman Polanski', 'Robert Redford'], 1981: ['Louis Malle', 'Hugh Hudson', 'Mark Rydell', 'Steven Spielberg', 'Warren Beatty'], 1982: ['Wolfgang Petersen', 'Steven Spielberg', 'Sydney Pollack', 'Sidney Lumet', 'Richard Attenborough'], 1983: ['Peter Yates', 'Ingmar Bergman', 'Mike Nichols', 'Bruce Beresford', 'James L. Brooks'], 1984: ['Woody Allen', 'Roland Joffe', 'David Lean', 'Robert Benton', 'Milos Forman'], 1985: ['Hector Babenco', 'John Huston', 'Akira Kurosawa', 'Peter Weir', 'Sydney Pollack'], 1986: ['David Lynch', 'Woody Allen', 'Roland Joffe', 'James Ivory', 'Oliver Stone'], 1987: ['Bernardo Bertolucci', 'Adrian Lyne', 'John Boorman', 'Norman Jewison', 'Lasse Hallstrom'], 1988: ['Barry Levinson', 'Charles Crichton', 'Martin Scorsese', 'Alan Parker', 'Mike Nichols'], 1989: ['Woody Allen', 'Peter Weir', 'Kenneth Branagh', 'Jim Sheridan', 'Oliver Stone'], 1990: ['Francis Ford Coppola', 'Martin Scorsese', 'Stephen Frears', 'Barbet Schroeder', 'Kevin Costner'], 1991: ['John Singleton', 'Barry Levinson', 'Oliver Stone', 'Ridley Scott', 'Jonathan Demme'], 1992: ['Clint Eastwood', 'Neil Jordan', 'James Ivory', 'Robert Altman', 'Martin Brest'], 1993: ['Jim Sheridan', 'Jane Campion', 'James Ivory', 'Robert Altman', 'Steven Spielberg'], 1994: ['Woody Allen', 'Quentin Tarantino', 'Robert Redford', 'Krzysztof Kieslowski', 'Robert Zemeckis'], 1995: ['Chris Noonan', 'Tim Robbins', 'Mike Figgis', 'Michael Radford', 'Mel Gibson'], 1996: ['Anthony Minghella', 'Joel Coen', 'Milos Forman', 'Mike Leigh', 'Scott Hicks'], 1997: ['Peter Cattaneo', 'Gus Van Sant', 'Curtis Hanson', 'Atom Egoyan', 'James Cameron'], 1998: ['Roberto Benigni', 'John Madden', 'Terrence Malick', 'Peter Weir', 'Steven Spielberg'], 1999: ['Spike Jonze', 'Lasse Hallstrom', 'Michael Mann', 'M. Night Shyamalan', 'Sam Mendes'], 2000: ['Stephen Daldry', 'Ang Lee', 'Steven Soderbergh', 'Ridley Scott', 'Steven Soderbergh'], 2001: ['Ridley Scott', 'Robert Altman', 'Peter Jackson', 'David Lynch', 'Ron Howard'], 2002: ['Rob Marshall', 'Martin Scorsese', 'Stephen Daldry', 'Pedro Almodovar', 'Roman Polanski'], 2003: ['Fernando Meirelles', 'Sofia Coppola', 'Peter Weir', 'Clint Eastwood', 'Peter Jackson'], 2004: ['Martin Scorsese', 'Taylor Hackford', 'Alexander Payne', 'Mike Leigh', 'Clint Eastwood'], 2005: ['Ang Lee', 'Bennett Miller', 'Paul Haggis', 'George Clooney', 'Steven Spielberg'], 2006: ['Alejandro Gonzaalez Inarritu', 'Clint Eastwood', 'Stephen Frears', 'Paul Greengrass', 'Martin Scorsese'], 2007: ['Julian Schnabel', 'Jason Reitman', 'Tony Gilroy', 'Paul Thomas Anderson', 'Joel Coen', 'Ethan Coen'], 2008: ['David Fincher', 'Ron Howard', 'Gus Van Sant', 'Stephen Daldry', 'Danny Boyle'], 2009: ['James Cameron', 'Quentin Tarantino', 'Lee Daniels', 'Jason Reitman', 'Kathryn Bigelow'], 2010: ['Darren Aronofsky', 'David O. Russell', 'David Fincher', 'Ethan Coen', 'Joel Coen', 'Tom Hooper']}
winners = {1931: ['Norman Taurog'], 1932: ['Frank Borzage'], 1933: ['Frank Lloyd'], 1934: ['Frank Capra'], 1935: ['John Ford'], 1936: ['Frank Capra'], 1937: ['Leo McCarey'], 1938: ['Frank Capra'], 1939: ['Victor Fleming'], 1940: ['John Ford'], 1941: ['John Ford'], 1942: ['William Wyler'], 1943: ['Michael Curtiz'], 1944: ['Leo McCarey'], 1945: ['Billy Wilder'], 1946: ['William Wyler'], 1947: ['Elia Kazan'], 1948: ['John Huston'], 1949: ['Joseph L. Mankiewicz'], 1950: ['Joseph L. Mankiewicz'], 1951: ['George Stevens'], 1952: ['John Ford'], 1953: ['Fred Zinnemann'], 1954: ['Elia Kazan'], 1955: ['Delbert Mann'], 1956: ['George Stevens'], 1957: ['David Lean'], 1958: ['Vincente Minnelli'], 1959: ['William Wyler'], 1960: ['Billy Wilder'], 1961: ['Jerome Robbins', 'Robert Wise'], 1962: ['David Lean'], 1963: ['Tony Richardson'], 1964: ['George Cukor'], 1965: ['Robert Wise'], 1966: ['Fred Zinnemann'], 1967: ['Mike Nichols'], 1968: ['Carol Reed'], 1969: ['John Schlesinger'], 1970: ['Franklin J. Schaffner'], 1971: ['William Friedkin'], 1972: ['Bob Fosse'], 1973: ['George Roy Hill'], 1974: ['Francis Ford Coppola'], 1975: ['Milos Forman'], 1976: ['John G. Avildsen'], 1977: ['Woody Allen'], 1978: ['Michael Cimino'], 1979: ['Robert Benton'], 1980: ['Robert Redford'], 1981: ['Warren Beatty'], 1982: ['Richard Attenborough'], 1983: ['James L. Brooks'], 1984: ['Milos Forman'], 1985: ['Sydney Pollack'], 1986: ['Oliver Stone'], 1987: ['Bernardo Bertolucci'], 1988: ['Barry Levinson'], 1989: ['Oliver Stone'], 1990: ['Kevin Costner'], 1991: ['Jonathan Demme'], 1992: ['Clint Eastwood'], 1993: ['Steven Spielberg'], 1994: ['Robert Zemeckis'], 1995: ['Mel Gibson'], 1996: ['Anthony Minghella'], 1997: ['James Cameron'], 1998: ['Steven Spielberg'], 1999: ['Sam Mendes'], 2000: ['Steven Soderbergh'], 2001: ['Ron Howard'], 2002: ['Roman Polanski'], 2003: ['Peter Jackson'], 2004: ['Clint Eastwood'], 2005: ['Ang Lee'], 2006: ['Martin Scorsese'], 2007: ['Ethan Coen', 'Joel Coen'], 2008: ['Danny Boyle'], 2009: ['Kathryn Bigelow'], 2010: ['Tom Hooper']}

## Creating a dictionary with number of nominations for each director: 

times_nominated={}

for year, directors_list in nominated.items():
    for director in directors_list: 
        if director not in times_nominated:
            times_nominated[director]= 1 
        else: 
            times_nominated[director] += 1 
            
### Important to notice that this is the way you impute and assign value in a dictionary. The for loop is creating
### the new dictionary times_nominated

### Provide a dictionary with the count of Oscar wins for each director in the winners list.

In [85]:
win_dic={}

for year, winner in winners.items():
    if winner not in win_dic:
        win_dic[winner]= 1 
    else: 
        win_dic[winner] += 1

TypeError: unhashable type: 'list'

*Notice that the winners dictionary has lists for values. Hence, we'll need to pull the element out of the list first.*

In [86]:
### A dictionary with the number of wins
win_dic={}

for year, winner in winners.items():
    for name in winner: 
        if name not in win_dic:
            win_dic[name]= 1 
        else: 
            win_dic[name] += 1

In [87]:
win_dic

{'Norman Taurog': 1,
 'Frank Borzage': 1,
 'Frank Lloyd': 1,
 'Frank Capra': 3,
 'John Ford': 4,
 'Leo McCarey': 2,
 'Victor Fleming': 1,
 'William Wyler': 3,
 'Michael Curtiz': 1,
 'Billy Wilder': 2,
 'Elia Kazan': 2,
 'John Huston': 1,
 'Joseph L. Mankiewicz': 2,
 'George Stevens': 2,
 'Fred Zinnemann': 2,
 'Delbert Mann': 1,
 'David Lean': 2,
 'Vincente Minnelli': 1,
 'Jerome Robbins': 1,
 'Robert Wise': 2,
 'Tony Richardson': 1,
 'George Cukor': 1,
 'Mike Nichols': 1,
 'Carol Reed': 1,
 'John Schlesinger': 1,
 'Franklin J. Schaffner': 1,
 'William Friedkin': 1,
 'Bob Fosse': 1,
 'George Roy Hill': 1,
 'Francis Ford Coppola': 1,
 'Milos Forman': 2,
 'John G. Avildsen': 1,
 'Woody Allen': 1,
 'Michael Cimino': 1,
 'Robert Benton': 1,
 'Robert Redford': 1,
 'Warren Beatty': 1,
 'Richard Attenborough': 1,
 'James L. Brooks': 1,
 'Sydney Pollack': 1,
 'Oliver Stone': 2,
 'Bernardo Bertolucci': 1,
 'Barry Levinson': 1,
 'Kevin Costner': 1,
 'Jonathan Demme': 1,
 'Clint Eastwood': 2,
 'Steven Spielberg': 2,
 'Robert Zemeckis': 1,
 'Mel Gibson': 1,
 'Anthony Minghella': 1,
 'James Cameron': 1,
 'Sam Mendes': 1,
 'Steven Soderbergh': 1,
 'Ron Howard': 1,
 'Roman Polanski': 1,
 'Peter Jackson': 1,
 'Ang Lee': 1,
 'Martin Scorsese': 1,
 'Ethan Coen': 1,
 'Joel Coen': 1,
 'Danny Boyle': 1,
 'Kathryn Bigelow': 1,
 'Tom Hooper': 1}

### Provide a list with the name(s) of the director(s) with the most Oscar wins.

In [104]:
## Using max
wins=[]
for director, win in win_dic.items():
        if win not in wins:
            wins.append(win)
            
most_wins=max(wins)

dic_most=[]
for director, win in win_dic.items():
        if win == most_wins:
            dic_most.append(director)

print(dic_most)

['John Ford']

In [108]:
## Another way 
highest_count = max(win_dic.values())
most_win_director = [key for key, value in win_dic.items() if value == highest_count]
print(most_win_director)

['John Ford']

### Count the number of words on a given list and present them in a dictionary

In [115]:
book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_count={}

for word in book_title: 
    if word not in word_count:
        word_count[word]=1
    else:
        word_count[word] +=1
print(word_count)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [124]:
### A faster way
word_count={}
for word in book_title:
    word_count[word]=word_count.get(word,0)+1
print(word_count)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

The line of code does two things:
- First, it adds to the dictionary by imputing with the slice in brackets. 
- Secondly, it gives a value of zero if the word is not in the dictionary and then adds one.

### Add the total weight of a series of labeled items

In [345]:
## Get the number of records via input
n = int(input('The number of items is: '))

## input the keys and values of records 
d = dict(input("Enter key and value: ").split() for _ in range(n))
values=list((d.values()))
int_values=[int(i) for i in values]

total=0
for i in int_values: 
    total +=i
    
print(f'The total weight for the package is {total} kgs.')

The number of items is: 3
Enter key and value: yeast 3
Enter key and value: eggs 12
Enter key and value: flour 5
The total weight for the package is 20 kgs.

### Print the name and grade of the second lowest score in an imputed list of students

In [365]:
## Get the number of records via input
n = int(input('The number of students is: '))

## input the keys and values of records 
d = dict(input("Enter name of student and grade: ").split() for i in range(n))
values=list((d.values()))
values.sort()
second_worst_grade= values[1]

## Determine which student(s) has the second lowest grade
names=[]

for key, value in d.items():
    if value == second_worst_grade:
        names.append(key)

for i in names: 
    print(f"{i} has the second lowest grade with {second_worst_grade}")

The number of students is: 4
Enter name of student and grade: dave 98
Enter name of student and grade: ed 97
Enter name of student and grade: al 78
Enter name of student and grade: mike 80
mike has the second lowest grade with 80

## Manipulating strings with functions

### Write a program to reverse a string

Sample String : "1234abcd"
Expected Output : "dcba4321"

In [302]:
## Reversing a string takes 3 negatives. Start in the minus 1, up to minus "n" size of the string, 
## going back one minus step at a time

some_string = input('Input characters with no spaces in between: ')
n=len(some_string)

def revstring(some_string):
     return some_string[-1:(-n-1):-1]

revstring(some_string)

Input characters with no spaces in between pokasdfqerwa

'awreqfdsakop'

### Write a function that accepts a string and calculate the number of upper case letters and lower case letters

In [173]:
some_string = input('Input a string with upper and lower case letters: ')

def calculator(some_string): 
    count1=0
    count2=0
    for i in some_string:
        if (i.islower()):  
            count1 += 1
        elif (i.isupper()):
            count2 += 1
    print (f'The number of lowercase letters is {count1} \nThe number of uppercase letters is {count2}')
    
calculator(some_string)

Input a string with upper and lower case letters
The QuicK Brown Fox JUMPED over the lazy FOX
The number of lowercase letters is 22
The number of uppercase letters is 14

### Write a function that checks whether a passed string is palindrome or not

In [220]:
word=input('Input a word: ')
n=len(word)+1

def palindrome(word):
    if word[0:(n-1)]==word[-1:-n:-1]:
        print (f'{word} is a palindrome')
    else: 
        print (f'{word} is not a palindrome')

palindrome(word)

Input a word
deified
deified is a palindrome

In [234]:
'do'*3

'dododo'

### Make a pyramid of a two letter word with n rows

In [246]:
### making it symmetrical 
n=(input('Please input a two letter word: '))
print('How many rows does the pyramid have')
m=int(input())

# iterarte upto n
for i in range(m):
    # adjust space
    print(' '*(m-i), end='')
 
    # print word
    print(''.join(n*(i+1)))

Please input a two letter word
do
How many rows does the pyramid have
5
     do
    dodo
   dododo
  dodododo
 dododododo

### Without using any string methods, try to print the following: 123

In [275]:
n=3
[print(k, end="") for k in range(1,n+1)]

123

[None, None, None]

*Using * for unpacking a function using positional argument.
This method is very useful while printing your data in a raw format (without any comma and brackets ).

In [276]:
n=3
print(*(k for k in range(1,n+1)), sep="")

123

### Read a given string, change the character at a given index and then print the modified string.

In [366]:
def mutate_string(string, position, character):
    p=position
    c=character
    mod_string = string[:p] + c + string[(p+1):]
    return mod_string

In [367]:
mutate_string("New Haven", 6, "l")

'New Halen'

### Print the number of times that the substring occurs in the given string.

In [368]:
def count_substring(string, sub_string):
    count=0
    s=len(string)
    w=len(sub_string)
    for i in range(s):
        if sub_string==string[i:i+w]:
            count +=1
    return count

In [369]:
count_substring('ABCDABCDABCD','CD')

3

## Functions with integers

### Write a function that multiplies the elements in the list by 2

In [131]:
## defyning a user function
def multby2(inputlist):
    new_list=[]
    for i in inputlist:
        new_list.append(i*2)
    return new_list

In [132]:
multby2([3, 4, 5])

[6, 8, 10]

#### Simplified version with list comprehension

In [133]:
def multby2(inputlist):
    newlist=[k*2 for k in inputlist]
    return newlist

In [134]:
multby2([3, 4, 5])

[6, 8, 10]

#### Using input

In [135]:
integer_list = map(int, input().split())
integer_list = list(integer_list)
newlist=[k*2 for k in integer_list]
print(newlist)

3 4 5
[6, 8, 10]

### Write a function to sum all the numbers in a list

In [140]:
def add_list(some_list):
    for element in some_list: 
        return sum(some_list)

print('Input only integers each separated by a space')
some_list = map(int, input().split())
some_list = list(some_list)

add_list(some_list)

Input five integers each separated by a space
2 4 5 7 8

26

### Write a function to multiply all the numbers in a list

In [146]:
def mult_list(some_list):
    result=1
    for i in some_list:
        result *= i
    return result

print('Input only integers each separated by a space')
some_list = map(int, input().split())
some_list = list(some_list)

mult_list(some_list)

Input only integers each separated by a space
3 4 5 6

360

### Write a function to check whether a number falls in a given range

In [171]:
print('Input an integer')
n=int(input())
print('Input an integer to use as the range')
m=int(input())

def range_verifier(n, m):
    list_range=range(m+1)
    if n in list_range: 
        print (f'The number {n} is in the range of {m}')
    else: 
        print (f'The number {n} is not in the range of {m}')

range_verifier(n,m)

Input an integer
5
Input an integer to use as the range
100
The number 5 is in the range of 100

### Write a function that takes a number as a parameter and check the number is prime or not.

In [182]:
## One way
def test_prime(n):
    if (n==1):
        return print (f' 1 is not a prime number')
    elif (n==2):
        return print (f' 2 is a prime number')
    else:
        for x in range(2,n):
            if(n % x==0):
                return print(f' {n} is not a prime number')
        return print(f'{n} is a prime number')

In [183]:
test_prime(53)

53 is a prime number

In [184]:
## A second way
def prime_eval(x): 
    assert isinstance(x, int), 'X must be an integer'
    factors=0
    for i in range (x):
        if x%(i+1)==0:
           factors +=1
    if factors > 2: 
        print (f'{x} is not a prime number')
    else: 
        print (f'{x} is a prime number')

In [185]:
prime_eval(44)

44 is not a prime number

#### Using input

In [187]:
print('Input an integer')
x=int(input())

def prime_eval(x): 
    assert isinstance(x, int), 'X must be an integer'
    factors=0
    for i in range (x):
        if x%(i+1)==0:
           factors +=1
    if factors > 2: 
        print (f'{x} is not a prime number')
    else: 
        print (f'{x} is a prime number')

prime_eval(x)

Input an integer
45
45 is not a prime number

### Write a function to check whether a number is perfect or not

In [203]:
#A perfect number is a positive integer that is equal to the sum of its proper divisors. 
print('Input an integer')
x=int(input())

def perfect(x):
    divisors=[]

### First step: get the divisors
    for i in range(2,x):  ## it's important to skip the zero. 
        if x%(i)==0:
           divisors.append(i)  
        
### Second step: add the divisors up
    div_sum=sum(divisors) 

### Third step: check if divisors add to the number
    if div_sum ==0: 
        print (f'{x} is a prime number and, therefore, not a perfect number')
    elif div_sum == x: 
        print (f'{x} is a perfect number')
        print(divisors)
    else:
        print (f'{x} is not a perfect number')
        print(divisors)

perfect(x)

Input an integer
496
496 is not a perfect number
[2, 4, 8, 16, 31, 62, 124, 248]

### Write a function that prints out the first n rows of Pascal's triangle.

In [222]:
### using powers of eleven 
n=int(input())

for i in range(n):
    print(11**i)

8
1
11
121
1331
14641
161051
1771561
19487171

In [240]:
### making it symmetrical 
n=int(input())
 
# iterarte upto n
for i in range(n):
    # adjust space
    print(' '*(n-i), end='')
 
    # compute power of 11
    print(' '.join(map(str, str(11**i))))

8
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
   1 6 1 0 5 1
  1 7 7 1 5 6 1
 1 9 4 8 7 1 7 1

**Using map**

map(`fun`, `iter`)

`fun` : is a function to which map passes each element of given iterable.
`iter`: is the iterable which is to be mapped.

Returns a list of the results after applying the given function  
to each item of a given iterable (list, tuple etc.)

### Write a program to access a function inside a function

In [277]:
def meta_calc(z):
    def program (x):
        nonlocal z
        z += 1
        return z + x
    return program
func=meta_calc(2)
print (func(2))

5

### Try, exceptions and errors

The code prompts the user for 10 integers. It then finds and prints the sum of all of the even numbers among those that were entered. The exception prints out an error in case a string is imputed

In [298]:
user_list = []  
list_sum = 0
for i in range(10):
    try:
        userInput = int(input("Enter any number: "))
        if userInput % 2 == 0:
            list_sum += userInput
            user_list.append(userInput)
    except ValueError:
        print("Incorrect value. That's not an int!")

print("user_list: {}".format(user_list))
print("The sum of the even numbers in user_list is: {}.".format(list_sum))

Enter any number: 4
Enter any number: r
Incorrect value. That's not an int!
Enter any number: 4
Enter any number: 4
Enter any number: 5
Enter any number: 6
Enter any number: 7
Enter any number: 8
Enter any number: 8
Enter any number: 4
user_list: [4, 4, 4, 6, 8, 8, 4]
The sum of the even numbers in user_list is: 38.

## Lambda functions: using filter and map

*Lambda functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python.*

**Syntax: lambda arguments: expression**

*This function can have any number of arguments but only one expression, which is evaluated and returned.*

### Use lambda function to return cities with less than 10 letters in their name

In [283]:
## Can be done with a list comprehension 
## On purpose, want to print cities separetely 
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston", 'Houston', 'Seattle', 'Miami']

short_cities=[i for i in cities if len(i) < 10]
for i in short_cities: print(i)

Chicago
Denver
Boston
Houston
Seattle
Miami

*This can also be done with a lambda function using `filter`, which checks a condition on an iterable*

In [286]:
short_cities=list(filter(lambda city: len(city)<10 , cities ))
for i in short_cities: print(i)

Chicago
Denver
Boston
Houston
Seattle
Miami

### Use a lambda function to find even numbers in a list

In [285]:
list_1 = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

### Use lambda function to calculate the cubed power of the numbers on a list

Map is used to apply a function to an iterable in order to get a result

In [291]:
list_1 = [1,2,3,4,5,6,7,8,9]
cubed = map(lambda x: pow(x,3), list_1)
for i in list(cubed): print(i)

1
8
27
64
125
216
343
512
729

###  Find the mean of each list in numbers to create the list averages

In [292]:
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

def mean(num_list):
    return sum(num_list) / len(num_list)

averages = list(map(mean, numbers))
print(averages)

[57.0, 58.2, 50.6, 27.2]

#### Trying the same with a lambda function

In [293]:

numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

averages = list(map(lambda num_list: sum(num_list)/len(num_list) , numbers))
print (averages)

[57.0, 58.2, 50.6, 27.2]

## More list and list comprehension exercises

### Write a program that takes a list and returns a new list with unique elements of the first list

In [181]:
print('Input characters each separated by a space')
some_list = input().split()
some_list = set (some_list)
some_list = list(some_list)
some_list.sort()
print(some_list)

Input characters each separated by a space
1 2 2 2 22 3 3 3 4 44 444 4
['1', '2', '22', '3', '4', '44', '444']

### Write a program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically

In [267]:
print('Input a series of words separated by hyphens')
word_list=input().split('-')
# Split separates the words individually into a list
word_list.sort()
print('-'.join(word_list))

Input a series of words separated by hyphens
Ed-Al-Dave-Mike
Al-Dave-Ed-Mike

## Classes

### Create a class called car with three variables: brand, price & owner

In [396]:
class Car:
    def __init__(self, brand, price, owner):
        
        self.brand = brand
        self.price = price
        self.owner = owner
        
    def create_ad(self):
        '''
        Creates a used car advertisement for this car
        '''
        print(f'Selling used {self.brand} for ${self.price}.')
        print(f'Contact {self.owner} for details.')
        
    def change_owner(self, new_owner):
        self.owner = new_owner # self allows us to access the attributes of the object

### Fill the class with data

In [397]:
## Fill with data
c1=Car('BMW', 30000, 'John')
c2=Car('Ferrari', 40000, 'Paul')
c3=Car('Porsche', 50000, 'George')

In [398]:
## call as data_point.method
print(c1.price)
print(c2.owner)
print(c3.brand)

30000
Paul
Porsche

### Call print_ad method

In [400]:
c3.create_ad()

Selling used Porsche for $50000.
Contact George for details.

### Change C3 owner

In [402]:
c3.change_owner('Ringo')

In [403]:
c3.owner

'Ringo'

In [404]:
c3.create_ad()

Selling used Porsche for $50000.
Contact Ringo for details.

### Create a class called Basket, which represents a customer's shopping basket for online transactions.

In [405]:
class Basket:
  
   '''
   Set a hard upper limit on the size of the transaction baskets.
   '''
    max_size = 100

# Create an instance
b = Basket()
print(b.max_size)

100

### Create the items, amounts and costs attributes

In [427]:
class Basket:
    '''
    A Class to represent an online shopping basket
    '''
    
    max_size = 100

    def __init__(self, items, amounts, costs):

        self.items = items
        self.amounts = amounts
        self.costs = costs

    def add_item(self, new_item):
        '''
        Takes an (item, amount, price) tuple and adds to the basket
        '''
        
        #We can add asserts here to check new_item is a tuple and each new element has the appropriate datatype. 
        
        self.items.append(new_item[0])
        self.amounts.append(new_item[1])
        self.costs.append(new_item[2])

### Impute a basket

In [428]:
b1=Basket(['Razor', 'Milk', 'Bread'], 
            [1, 2, 3], 
            [12.99, 4.99, 2.99])

In [429]:
print(b1.items)

['Razor', 'Milk', 'Bread']

In [430]:
b2 = Basket(['apples'], [3], [0.70])

In [431]:
my_items = ('orange', 1, 0.30)

In [432]:
b1.add_item(my_items)

In [434]:
print(b1.items)

['Razor', 'Milk', 'Bread', 'orange']

--0--